
@{
    ViewBag.Title = "About";
}

<h2>
    <img src="@Url.Content("~/Content/Images/GuitarLogo.png")" style="height:50px; margin:5px;">
    Guitares Bazar
</h2>

<p>
    Site de vente de guitares neuve et usagees.
    <br/>
    Il a ete concu dans le cadre pedagogique du cours 420-KBG.
</p>

<pre>
    <code>
        Auteur: Justin Ouellet

        Auteur: Tristan Lepine
        Email : tristanlepine14@gmail.com
    </code>
</pre>